# gradle
.gradle/
build/
out/
classes/
logs/

# eclipse
*.launch

# idea
.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

common/build
fabric/build
fabric/run
forge/build
forge/run
forge/src/generated
forge/src/test